@page "~/error/404"
@{
    ViewData["Title"] = "404 - Not Found";
    ViewData["CSS"] = "/css/Home.css";
}
<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#">ResuME</a>
        <a class="btn btn-primary" href="/">Home</a>
    </div>
</nav>
<!-- Masthead -->
<header class="masthead text-white" style="background: url('../images/lost-cat.jpg') no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover; background-size: cover;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto text-center">
                <h1 class="mb-5">We couldn't find that page...</h1>
                <h2 class="mb-5">But don't worry! You can click Home to be sent to the Landing Page.</h2>
            </div>
        </div>
    </div>
</header>
