@page "~/email"
@{
    ViewData["Title"] = "Check Email";
    ViewData["CSS"] = "/css/Home.css";
}
<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#">ResuME</a>
        <a class="btn btn-primary" href="/">Home</a>
    </div>
</nav>
<!-- Masthead -->
<header class="masthead text-white">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto text-center">
                <h1 class="mb-5">We sent you an email! Click the link provided to start using ResuME!</h1>
            </div>
        </div>
    </div>
</header>
<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="/about">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="/contact">Contact</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a>Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="/privacy">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; ResuME 2018. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
