@page "~/email"
@{
    ViewData["Title"] = "Check Email";
    ViewData["CSS"] = "/css/Home.css";
}
<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#">ResuME</a>
        <a class="btn btn-primary" href="/">Home</a>
    </div>
</nav>
<!-- Masthead -->
<header class="masthead text-white">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto text-center">
                <h1 class="mb-5">We sent you an email! Click the link provided to start using ResuME!</h1>
            </div>
        </div>
    </div>
</header>
